<!DOCTYPE html>
<html>
	<head>
		<title>Hello Generator !</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	</head>

	<body>
		<div class="overlay"></div>
		<div class="fullscreen background-<%= Math.floor(Math.random() * 16) + 1 %>"></div>
		<%- body -%>
		
	</body>

</html>