doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title HTML - Introduction

    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 Formation TNS
        h2 Concept d'applications web
        h3 TELECOM Nancy Services
        img(style="width: 60%" src="https://media.giphy.com/media/g17AUrJbLK6VW/giphy.gif")

        p(class="author") <a href="https://github.com/Mcdostone/basics-web-apps" target="_blank">@mcdostone (Yann Prono)</a>


      Section
        h1 L'architecture client serveur
        ul
          li Patron d'architecture
          li Clients
          li Serveur
          li
            div(class="example")
             <img src="./images/client-server-1.svg">


      Section
        h1 Le client
        p Dans le cas d'application web, le client est le navigateur web (chrome, firefox, opera ...) fonctionnant sur n'importe quel device
        br
        ol(class="left")
          li Préparer une requête HTTP suivant la demande du client, par exemple accéder à la page web <a href="https://github.com/Mcdostone/HTML-CSS" target="_blank">https://github.com/Mcdostone/HTML-CSS</a>
          li Envoyer la requête au serveur
          li Attendre la réponse du serveur
          li Afficher la réponse du serveur dans l'interface du client

      section(class="animated-background fullscreen understand")
        h2 Une chose à comprendre coté client ! Une seule !
        ul
          li Le client ne sait interpréter que du contenu HTML, CSS et JS !
          li Voir la <a href="https://github.com/Mcdostone/HTML-CSS" target="_blank">formation dédiée</a>
          li Ne faites jamais cette erreur ! JAMAIS

      section
        h1 Le serveur
        p Machine connectée au réseau. Ici nous nous occupons uniquement du serveur web
        ol(class="left")
          li Attendre une requête HTTP d'un client
          li Préparer la réponse suivant la demande du client
          li Envoyer la réponse au client

      section
        h1 Résumé
        div(class="example")
          <img src="./images/1.svg">

      section
        h1 Résumé
        div(class="example")
          <img src="./images/2.svg">

      section
        h1 Résumé
        div(class="example")
          <img src="./images/3.svg">

      section
        h1 Résumé
        div(class="example")
          <img src="./images/4.svg">

      section(class="animated-background fullscreen dance")
        h1 Ouahh !
        p Des questions avant de continuer ?

      section(class="animated-background fullscreen how")
        h2 Comment fait-on une application web ?


    script(src='build/build.js')/